/* .bg {
background: #C4C4C4;
width: 40%;
color: white;
z-index: 5;
} */

/* .Clip {
  height: 500px;
  width: 80%;
  background: #C4C4C4;
  clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
}

.clippy {
  height: 500px;
  width: 100%;
  background: black;
clip-path: polygon(56% 0, 100% 0%, 100% 100%, 10% 100%);
} */

.Nav {
  font-family: 'Montserrat', sans-serif;
}

.Form {
  font-family: 'Montserrat', sans-serif;
}

.Header {
  font-family: 'Montserrat', sans-serif;
}

.Aboutus {
  font-family: 'Montserrat', sans-serif;
}

.Project {
  font-family: 'Montserrat', sans-serif;
}

/* .Particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
} */
