/* .bg {
background: #C4C4C4;
width: 40%;
color: white;
z-index: 5;
} */

/* .Clip {
  height: 500px;
  width: 80%;
  background: #C4C4C4;
  clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
}

.clippy {
  height: 500px;
  width: 100%;
  background: black;
clip-path: polygon(56% 0, 100% 0%, 100% 100%, 10% 100%);
} */

.Nav {
  font-family: 'Montserrat', sans-serif;
}

.Form {
  font-family: 'Montserrat', sans-serif;
}

.Header {
  font-family: 'Montserrat', sans-serif;
}

.Aboutus {
  font-family: 'Montserrat', sans-serif;
}

.Project {
  font-family: 'Montserrat', sans-serif;
}

.text1 {
  background: linear-gradient(to right, #0093e9 20%, #80d0c7 40%, #ff4b1f 60%, #1fddff 80%);
  background-size: 200% auto;
color: #000;


  animation: gradients 7s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
@keyframes gradients {
  0% {
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrap {
  position: relative;
}

.nav1 {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-left: 0px;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.burger-menu {
  height: 98%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: purple; */
}

.burger-bar{
  width: 2.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 0.5em;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  /* z-index: 1; */
}

.hidden1 {
  display: none;
}

.visible {
  display: inherit;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
